<head>
		<link rel=StyleSheet href="./css/style.css" type="text/css"/>
		<script type="text/javascript" src="./includes.js"></script>
		<title>Zombie Maps</title>
		<meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/controls.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <script type="text/javascript" src="js/map.js"></script>
    <script type="text/javascript" src="js/canvas.js"></script>
</head>
<body onload="include();">
	<div id="map_container"><div id="map_canvas"></div></div>
	<div id="object_container"><canvas id="object_layer"></canvas></div>
</body>